@import url(reset.css);

body {
  max-width: 600px;
  margin: 0 auto;
  background: #3f72af;
}

#root {
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f7f7;
  border-radius: 10px;
  overflow-y: auto;
}
